*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-collapse{
    margin-left: 450px;
}

.links{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-left: 250px;
}



.links a{
    color: black;
    font-weight: 600;
}

.navbar-brand{
    margin-left: 70px;
    color: black
    
}

.navbar-brand strong{
    font-size: 30px;
}



.navbar-brand img{
    width: 60px;
    height: 43px;
}

.nav-link .fas{
    font-size: 18px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    width: 70px;
    height: 30px;
    border-radius: 40px;
    background-color: #ED4E53;
}

.navbar-brand{
 display: flex;
 justify-content: center;
 align-items: center;    
}

.nav-link{
    text-decoration: none;
    outline: none;
    border-bottom: none;
}


/* Responsive Navbar */

.header {
    display: flex;
    background: linear-gradient(#6616fc, #f394d3);
    
    align-items: center;
    padding: 0px 40px;
    height: 80px;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style-type: none;
  }
  .mobile-option {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  
  .option :hover {
    color: white;
  }
  .signin-up {
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
  }
  .sign-in {
    padding-right: 50px;
    align-self: center;
  }
  .sign-in :hover {
    color: white;
  }
  .signup-btn {
    padding: 10px 10px;
    height: 2.4rem;
    border-radius: 3px;
    background: rgb(222, 9, 241);
    color: white;
    cursor: pointer;
    align-items: center;
  }


  /* Desktop view */

  .header {
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 70px;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  .cart-link{
    display: flex;
    background-color: #ED4E53;
    width: 70px;
    justify-content: center;
    border-radius: 15px ;
  }

  

  .cart-icon span{
    margin-left: 7px;
  }

  

  .logo {
    width: 45px;
    height: 45px;
  }
.logo-text{
  color: black;
  font-weight: bold;
  font-size:x-large;
  
}

.logo-text img{
  margin-right: 10px;
}

  .nav-options {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    list-style-type: none;
  }

  .navu-links{
    margin-top : 5px
  }

  .mobile-option {
    display: none;
  }

  .option a{
    color: black;
    font-weight: 600;
  }
  
  .option :hover {
    color: #ED4E53;
    text-decoration: none;
  }
  .cart-link{
    color: black !important;
  }
  .signin-up {
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
  }
  .sign-in {
    padding-right: 50px;
    align-self: center;
  }
  .sign-in :hover {
    color: white;
  }
  .signup-btn {
    padding: 10px 10px;
    height: 2.4rem;
    border-radius: 3px;
    background: rgb(222, 9, 241);
    color: white;
    cursor: pointer;
    align-items: center;
  }
  .mobile-menu {
    display: none !important;
  }
  @media (max-width: 648px) {
    /*Mobile View */
    .header {
      padding: 0px 10px;
    }
    .logo {
      width: 45px;
      height: 45px;
    }
    .nav-options {
      display: flex;
      width: 100%;
      height: 330px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }
    .nav-options.active {
      background: #fd8b8f;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      align-content: center;
      padding-left: 0px;
    }
  
    .menu-icon {
      width: 45px;
      height: 45px;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      padding: 30px 0px;
    }

    .optio {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      padding: 30px 0px;
      
    }

    .cart-link{
      color: black;
    }

    .sign-up {
      background: rgb(222, 9, 241);
      border-radius: 3px;
      color: white;
      padding: 20px 0px;
      width: 80%;
      align-self: center;
      border-radius: 3px;
    }
  
    .signin-up {
      display: none;
    }

    .mobile-menu {
        display: block !important;
  }
  
  }